dist/
dist/
calculadora.spec
build/calculadora/Analysis-00.toc
build/calculadora/base_library.zip
build/calculadora/calculadora.exe.manifest
build/calculadora/calculadora.pkg
build/calculadora/EXE-00.toc
build/calculadora/PKG-00.toc
build/calculadora/PYZ-00.pyz
build/calculadora/PYZ-00.toc
build/calculadora/Tree-00.toc
build/calculadora/Tree-01.toc
build/calculadora/Tree-02.toc
build/calculadora/warn-calculadora.txt
build/calculadora/xref-calculadora.html
build/calculadora/localpycs/pyimod01_archive.pyc
build/calculadora/localpycs/pyimod02_importers.pyc
build/calculadora/localpycs/pyimod03_ctypes.pyc
build/calculadora/localpycs/pyimod04_pywin32.pyc
build/calculadora/localpycs/struct.pyc
